.Monitoring {
  padding: 50px 250px 0px 260px;
  align-items: center;
  justify-content: center;
}

@import "~react-vis/dist/style";

/*

.Monitoring {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

*/
